<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img class="logo" src="../../assets/Logo.png">
        <qrcode [qrdata]="loginQrCode" [size]="256" [level]="'M'"></qrcode>
      </div>
      <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        autocomplete="off">
        <span class="login100-form-title">Member Register</span>
        <div class="wrap-input100 validate-input" [ngClass]="{ 'invalid': submitted && f.firstName.errors }">
          <input formControlName="firstName" required class="input100" 
          type="text" name="firstname" placeholder="First Name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
          <i class="fa fa-address-card" aria-hidden="true"></i>
          </span>
        </div>
        <div class="wrap-input100 validate-input" [ngClass]="{ 'invalid': submitted && f.lastName.errors }">
          <input formControlName="lastName" required class="input100" type="text" name="lastName" placeholder="Last Name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-address-card" aria-hidden="true"></i>
          </span>
        </div>
        <div class="wrap-input100 validate-input" [ngClass]="{ 'invalid': submitted && f.userName.errors }">
          <input formControlName="userName" autocomplete="new-password" required class="input100" type="text" name="userName" placeholder="User Name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </span>
        </div>
        <div [ngClass]="{ 'invalid': submitted && (f.email.errors || f.email.email) }" class="wrap-input100 validate-input" >
            <input #email formControlName="email" required class="input100" type="email" name="email" placeholder="Email">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>
        <div *ngIf="f.email.email">Not a valid email</div>
        <div  [ngClass]="{ 'invalid': submitted && f.password.errors }" class="wrap-input100 validate-input">
            <input class="input100" type="password" formControlName="password" required name="pass" placeholder="Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="container-login100-form-btn">
          <button [disabled]="loading" class="login100-form-btn">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>